In [1]:
import loader
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import glob

In [2]:
conds = glob.glob('../../../logs/bm-unlock10000-2019-03-12-1722/**/rep00', recursive=True)

In [17]:
for log in loader.getlogs(conds):
    break

         eval  iter  id  a  fakeCoef  playing  oppId  nbOnOpp  curCoop  \
0           0     0   0  5  1.479270        0     -1        0  3.07890
1           0     0   1  5  0.635828        0     -1        0  1.32339
2           0     0   2  5  1.453120        1     40        2  3.02446
3           0     0   3  5  1.036030        0     -1        0  2.15635
4           0     0   4  5  0.000000        0     -1        0  0.00000
5           0     0   5  5  0.901077        0     23        1  1.87547
6           0     0   6  5  0.500000        0     53        1  1.04068
7           0     0   7  5  1.406290        0     -1        0  2.92701
8           0     0   8  5  1.213860        0     -1        0  2.52648
9           0     0   9  5  1.266390        0     -1        0  2.63582
10          0     0  10  5  0.855840        0     -1        0  1.78131
11          0     0  11  5  1.168440        0     -1        0  2.43195
12          0     0  12  5  0.663284        0     -1        0  1.38053
13          0     0  13  5  1.014080        0     -1        0  2.11067
14          0     0  14  5  1.109780        0     -1        0  2.30986
15          0     0  15  5  1.822490        0     39        1  3.79326
16          0     0  16  5  0.771508        0     -1        0  1.60579
17          0     0  17  5  1.346610        0     -1        0  2.80279
18          0     0  18  5  0.789645        0     -1        0  1.64354
19          0     0  19  5  0.676009        0     -1        0  1.40702
20          0     0  20  5  1.075300        0     -1        0  2.23810
21          0     0  21  5  1.157970        0     -1        0  3.57753
22          0     0  22  5  1.190400        0     -1        0  2.47764
23          0     0  23  5  0.604927        0     -1        0  1.25907
24          0     0  24  5  1.147800        0     -1        0  2.38898
25          0     0  25  5  0.752493        0     -1        0  1.56621
26          0     0  26  5  1.572750        0     -1        0  3.27347
27          0     0  27  5  1.312130        0     -1        0  2.73102
28          0     0  28  5  1.118920        0     64        1  2.32888
29          0     0  29  5  1.653090        0     -1        0  3.44068
...       ...   ...  .. ..       ...      ...    ...      ...      ...
1999970     1  9999  70  5  0.663284        1     43        2  1.38053
1999971     1  9999  71  5  0.908376        0      4        1  1.89066
1999972     1  9999  72  5  0.979163        1     34        2  2.03799
1999973     1  9999  73  5  1.147800        1     59        2  3.54611
1999974     1  9999  74  5  0.958226        0     50        2  3.44514
1999975     1  9999  75  5  0.863582        1     15        2  1.79743
1999976     1  9999  76  5  0.732428        1     62        2  2.26283
1999977     1  9999  77  5  1.385170        1     55        2  2.88303
1999978     1  9999  78  5  0.815503        1     58        2  1.69736
1999979     1  9999  79  5  1.028590        1      1        2  2.14088
1999980     1  9999  80  5  0.548700        1     48        2  1.14204
1999981     1  9999  81  5  0.871234        1     11        2  1.81335
1999982     1  9999  82  5  1.000000        0     -1        0  2.08136
1999983     1  9999  83  5  0.831999        1     44        2  1.73169
1999984     1  9999  84  5  0.951206        1     51        2  2.93875
1999985     1  9999  85  5  0.929970        1     27        2  1.93560
1999986     1  9999  86  5  1.179240        1     23        2  3.97471
1999987     1  9999  87  5  0.855840        1     23        2  1.78131
1999988     1  9999  88  5  1.653090        1     56        2  3.44068
1999989     1  9999  89  5  1.128290        0     55        2  2.34838
1999990     1  9999  90  5  1.036030        0     48        2  2.15635
1999991     1  9999  91  5  1.346610        1     33        2  2.80279
1999992     1  9999  92  5  0.965223        1     43        2  2.00898
1999993     1  9999  93  5  1.479270        1     63        2  3.07890
1999994     1  9999  94  5  0.500000        1     15        2  1.04068
1999995     1  9999  95  5  1.312130        1     61        2  2.73102
1999996     1  9999  96  5  0.000000        0     31        2  0.00000
1999997     1  9999  97  5  0.649923        1     12        2  1.35272
1999998     1  9999  98  5  0.798430        1     46        2  1.66182
1999999     1  9999  99  5  1.453120        1      7        2  3.02446

         meanOwn  meanTotal  punish  spite
0        2.38898    3.49200       0      0
1        2.73102    1.18460       0      0
2        3.02446    1.50261       0      0
3        0.00000    0.00000       0      0
4        1.96514    2.52648       0      0
5        1.87547    0.00000       0      0
6        1.04068    0.00000       0      0
7        3.27347    1.93560       0      0
8        1.58625    0.00000       0      0
9        3.35228    4.32132       0      0
10       2.45443    2.12565       0      0
11       0.00000    0.00000       0      0
12       2.08136    1.09461       0      0
13       0.00000    0.00000       0      0
14       1.25907    1.66182       0      0
15       3.79326    0.00000       0      0
16       2.09591    3.02446       0      0
17       1.76500    2.27317       0      0
18       1.93560    3.27347       0      0
19       0.00000    0.00000       0      0
20       0.00000    0.00000       0      0
21       1.89066    3.13796       0      0
22       2.36840    1.45664       0      0
23       0.00000    0.00000       0      0
24       1.32339    1.14204       0      0
25       1.66182    1.25907       0      0
26       1.04068    1.71466       0      0
27       1.56621    2.84173       0      0
28       2.32888    0.00000       0      0
29       1.43234    1.22336       0      0
...          ...        ...     ...    ...
1999970  1.38053    2.00898       0      0
1999971  1.89066    0.00000       0      0
1999972  2.03799    3.20248       0      0
1999973  3.54611    1.90574       0      0
1999974  0.00000    0.00000       0      0
1999975  1.79743    1.04068       0      0
1999976  2.26283    1.96514       0      0
1999977  2.88303    1.09461       0      0
1999978  1.69736    2.66610       0      0
1999979  2.14088    2.22111       0      0
1999980  1.14204    2.43195       0      0
1999981  1.81335    3.75022       0      0
1999982  0.00000    0.00000       0      0
1999983  1.73169    2.84173       0      0
1999984  2.93875    2.20446       0      0
1999985  1.93560    2.11067       0      0
1999986  3.97471    1.78131       0      0
1999987  1.78131    3.97471       0      0
1999988  3.44068    1.84470       0      0
1999989  0.00000    0.00000       0      0
1999990  0.00000    0.00000       0      0
1999991  2.80279    1.40702       0      0
1999992  2.00898    1.38053       0      0
1999993  3.07890    3.13796       0      0
1999994  1.04068    1.79743       0      0
1999995  2.73102    2.05246       0      0
1999996  0.00000    0.00000       0      0
1999997  1.35272    1.25907       0      0
1999998  1.66182    2.18813       0      0
1999999  3.02446    1.48003       0      0

[2000000 rows x 13 columns]

In [40]:
log.groupby(['id', 'eval']).diff(['playing'])

Empty DataFrame
Columns: []
Index: []

In [41]:
log.query('changestate == 1')

,eval,iter,id,a,fakeCoef,playing,oppId,nbOnOpp,curCoop,meanOwn,meanTotal,punish,spite,changestate
1,0,0,1,5,0.635828,0,-1,0,1.32339,2.73102,1.1846,0,0,1.0